*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact{
    text-align: center;
    padding-top: 2px;
    background-color: blueviolet;
}
 .navbar-nav{
    color:white;
}
.back{
    background-color: lightblue;
    
}